<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <h1>
        <%= title %>
    </h1>
    <div>
        <span>
            <%= userInfo.id %>님 환영합니다.
        </span>
    </div>
    <div>
        <span>
            <%= userInfo.pw %>입니다.
        </span>
    </div>
    <br />
    <br />
    <a href="/">홈으로</a> -->

    <h1>
        <%= title %>
    </h1>
    <div>
        <span>
            이름 : <%= userInfo.id %>
        </span>
    </div>
    <div>
        <span>
            성별 : <%= userInfo.gender %>
        </span>
    </div>
    <div>
        <span>
            생년월일 : <%= userInfo.month %>
        </span>
    </div>
    <div>
        <span>
            취미 : <%= userInfo.hobby %>
        </span>
    </div>
    <!-- <a href="/pratice27">홈으로</a> -->
</body>

</html>